<form action="/signup/driver" method="post">

  <label for="drivers_license">Enter your drivers license</label>
  <input type="text" name="drivers_license">

  <label for="location">Enter your city</label>
  <input type="text" name="location">

  <h3>Car Details</h3>

  <label for="car_brand">Brand</label>
  <input type="text" name="car_brand">

  <label for="car_model">Model</label>
  <input type="text" name="car_model">

  <label for="car_year">Year</label>
  <input type="number" name="car_year">

  <label for="car_colour">Colour</label>
  <input type="text" name="car_colour">

  <label for="car_plate">Licence Plate</label>
  <input type="text" name="car_plate">

  <button>Become a driver. Instantly!</button>

</form>
