<form action="/login" method="post">
  <input type="email" name="email" placeholder="Enter your email">
  <input type="password" name="password" placeholder="Enter password">
  <button>Sign in</button>
</form>

<hr>

<p>Facebook Login</p>
