<div class="navigation">

  <button class="nav-btns" id="back-button-nav">
    <img src="/images/back-icon.png" alt="">
  </button>

</div>

<div class="page_holder">

  <h3>Profile</h3>
  <h1>Who are you?</h1>

  <form action="/signup/profile" method="post">

    <label for="first_name">First name</label>
    <div class="input-holder">
      <input type="text" name="first_name">
    </div>

    <label for="last_name">Last name</label>
    <div class="input-holder">
      <input type="text" name="last_name">
    </div>

    <label for="dob">Date of birth</label>
    <div class="input-holder">
      <input type="date" name="dob"><br>
    </div>

    <label for="driver">Would you like to be able to drive your friends?</label>
      <input type="radio" name="driver" value="true" class="signup_radio"><span class="driver_radio">Yes</span>
      <input type="radio" name="driver" value="false" class="signup_radio"><span class="driver_radio">No</span>

      <button class="form-button" id="blue-button">Save</button>

  </form>

</div>

<script src="/javascripts/nav-buttons.js"></script>
