<form action="/signup" method="post">

  <label for="email">Enter your email</label>
  <input type="text" name="email">

  <label for="password">Create a password</label>
  <input type="password" name="password">

  <button>Sign Up</button>

</form>

<hr>

<p>Facebook Sign Up</p>
