<form action="/signup/profile" method="post">

  <label for="first_name">Enter your first name</label>
  <input type="text" name="first_name">

  <label for="last_name">Enter your last name</label>
  <input type="text" name="last_name">

  <label for="dob">Enter your date of birth</label>
  <input type="date" name="dob"><br>

  <label for="driver">Would you like to be able to drive your friends?</label>
  <input type="radio" name="driver" value="true">Yes, please<br>
  <input type="radio" name="driver" value="false">No, thanks<br>

  <button>Save</button>

</form>
