<div class="navigation">

  <button class="nav-btns" id="back-button-nav">
    <img src="/images/back-icon.png" alt="">
  </button>

</div>

<div class="page_holder">

  <h3>Become a</h3>
  <h1>Hitch Driver</h1>

  <form action="/signup/driver" method="post">

    <label for="drivers_license">Drivers License</label>
    <div class="input-holder">
      <input type="text" name="drivers_license">
    </div>

    <label for="location">Your City</label>
    <div class="input-holder">
      <input type="text" name="location">
    </div>

    <h3>Car Details</h3>

    <label for="car_brand">Brand</label>
    <div class="input-holder">
      <input type="text" name="car_brand">
    </div>

    <label for="car_model">Model</label>
    <div class="input-holder">
      <input type="text" name="car_model">
    </div>

    <label for="car_year">Year</label>
    <div class="input-holder">
      <input type="number" name="car_year">
    </div>

    <label for="car_colour">Colour</label>
    <div class="input-holder">
      <input type="text" name="car_colour">
    </div>

    <label for="car_plate">Licence Plate</label>
    <div class="input-holder">
      <input type="text" name="car_plate">
    </div>

    <button class="form-button" id="blue-button">Become a driver. Instantly!</button>

  </form>

</div>

<script src="/javascripts/nav-buttons.js"></script>
